<header class="top">	
	<div class="row">
		<div class="top-navigation">
			<h1 class="top-navigation--logo">
				<a href="index.html">Real<span>Home</span></a>
			</h1>
			<nav class="top-navigation--menu">
				<ul>
					{% for link, title in data.nav %}
					<li><a href="{{link}}.html" {% if link==page %}class="active-top-navigation"{% endif %}>{{ title }}</a></li>
					{% endfor %}
					<li class="top-navigation--menu-social">
						<ul>
							<li><a href="https://www.facebook.com/" class="icon icon-facebook" target="_blank"></a></li>
							<li><a href="https://www.pinterest.com/" class="icon icon-pinterest" target="_blank"></a></li>
							<li><a href="https://www.instagram.com/" class="icon icon-instagram" target="_blank"></a></li>
							<li><a href="https://plus.google.com/" class="icon icon-google-plus3" target="_blank"></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="navbar-bootstrap-wrap">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="top-navigation--logo">
						<a href="index.html">Real<span>Home</span></a>
					</h1>
				</div>
				<nav class="collapse navbar-collapse" id="bs-nav-demo">
					<ul class="nav navbar-nav navbar-right navbar--menu">
						{% for link, title in data.nav %}
						<li><a href="{{link}}.html" {% if link==page %}class="active"{% endif %}>{{ title }}</a></li>
						{% endfor %}
						<ul class="navbar--menu-social">
							<li><a href="https://www.facebook.com/" class="icon icon-facebook" target="_blank"></a></li>
							<li><a href="https://www.pinterest.com/" class="icon icon-pinterest" target="_blank"></a></li>
							<li><a href="https://www.instagram.com/" class="icon icon-instagram" target="_blank"></a></li>
							<li><a href="https://plus.google.com/" class="icon icon-google-plus3" target="_blank"></a></li>
						</ul>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
						