{% set page = 'about' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<section class="about">
		<div class="container">
			<header class="about--navigation">
				<ul>
					<li><a href="../index.html" class="about--navigation-home">Home</a></li>
					<li><span class="glyphicon glyphicon-arrow-right about--navigation-right" aria-hidden="true"></span></li>
					<li><a href="about.html" class="about--navigation-about">About Us</a></li>
				</ul>
				<h1 class="about--navigation-title">
					About <span>Our Company</span>
				</h1>
			</header>
			<article class="about--info">
				<picture class="about--info-img">
					<img src="assets/img/ourcompany.jpg" alt="ourcompany">
				</picture>
				<div class="about--info-text">
					<p>Quisque diam lorem interdum vitaapibus ac scelerisque vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem ipsum dolor sitamet, consetetur sadipscing elitr.</p>
					<p>Agent info ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat nostrud tation ullamcorper nonummy nibh.</p>
				</div>
			</article>
		</div>	
	</section>
	<section class="about--description">
		<div class="container">
			<div class="about--description-post">
				<article class="description--description-wrap about--description-content">
					<div class="icon icon-earth description--icon"></div>
					<h3 class="description--description-wrap-title">
						Whole World
					</h3>
					<p>
						Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor.
					</p>
				</article>
				<article class="description--description-wrap about--description-content">
					<div class="icon icon-briefcase description--icon"></div>
					<h3 class="description--description-wrap-title">
						Confidentially
					</h3>
					<p>
						Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor.
					</p>
				</article>
				<article class="description--description-wrap about--description-content">
					<div class="icon icon-images description--icon"></div>
					<h3 class="description--description-wrap-title">
						Good Previews
					</h3>
					<p>
						Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor.
					</p>
				</article>
				<article class="description--description-wrap about--description-content">
					<div class="icon icon-eye-blocked description--icon"></div>
					<h3 class="description--description-wrap-title">
						Confidentially
					</h3>
					<p>
						Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor.
					</p>
				</article>
			</div>
		</div>
	</section>
	<section class="team">
		<div class="container">
			<header class="team--wrap">
				<h1 class="team--title">
					Our <span>Team</span>
				</h1>
				<a href="#" class="team--title-link">Want to be a part of this team?</a>
			</header>
			<article class="team--post">
				<picture class="team--post-img">
					<img src="assets/img/Mariya.jpg" alt="Mariya">
				</picture>
				<div class="team--content">
					<h1 class="team--content-title">
						<a href="#" class="team--content-link">Maria Spilberg</a>
					</h1>
					<p class="team--content-position">
						Manager
					</p>
				</div>
			</article>
			<article class="team--post">
				<picture class="team--post-img">
					<img src="assets/img/Stan.jpg" alt="Stan">
				</picture>
				<div class="team--content">
					<h1 class="team--content-title">
						<a href="#" class="team--content-link">Stan Barnard</a>
					</h1>
					<p class="team--content-position">
						Agent
					</p>
				</div>
			</article>
			<article class="team--post">
				<picture class="team--post-img">
					<img src="assets/img/Phillip.jpg" alt="Phillip">
				</picture>
				<div class="team--content">
					<h1 class="team--content-title">
						<a href="#" class="team--content-link">Phillip Morris</a>
					</h1>
					<p class="team--content-position">
						Agent
					</p>
				</div>
			</article>
			<article class="team--post">
				<picture class="team--post-img">
					<img src="assets/img/Andy.jpg" alt="Andy">
				</picture>
				<div class="team--content">
					<h1 class="team--content-title">
						<a href="#" class="team--content-link">Andy Zuckerberg</a>
					</h1>
					<p class="team--content-position">
						Account Manager
					</p>
				</div>
			</article>
		</div>
	</section>
	<section class="properties">
		<div class="row buying">
			<h1 class="buying--title">
				Subscribe To <span>Our Newsletter</span>
			</h1>
			<button class="buying-btn">
				Subscribe
			</button>
			<form>
				<input type="text" name="email" placeholder="Your email..." class="contacts-email-wrap">
			</form>
		</div>
	</section>

{% endblock %}