/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media screen and (max-width : 1200px) {
	.top-navigation {
  		margin: 31px 60px;
	}
	.top-navigation--menu a {
		padding: 30px 20px;
	}
	.top-navigation--menu-social a {
		padding: 5px;
	}
	.container {
		margin: 80px 100px 100px 100px;
	}
	.deals--best-deals {
		font-size: 32px;
		line-height: 44px;
	}
	.carousel-caption--info {
		bottom: 70px;
	}
	.properties--home-bottom {
		width: 60%;
	}
	.workman {
		margin: 80px 100px 0 100px;
	}
	.carousel-caption-workman {
		width: 55%;
	}
	.item-workman {
		width: 45%;
	}
	.carousel-indicators-workman {
		left: 75%;
	}
	.carousel-caption-workman-title {
		font-size: 40px;
	}
	.carousel-caption-workman hr {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.carousel-caption-workman p {
		margin-top: 25px;
		margin-bottom: 30px;
	}
	.buying {
		margin: 0 100px;
		text-align: center;
	}
	.buying--title {
		float: none;
		padding: 40px 0;
	}
	.buying-btn {
		float: none;
		margin-top: 0;
	}
	.carousel-indicators-bottom {
		bottom: 15%;
	}
	.carousel-caption-bottom {
		top: 15%;
	}
	.bottom-menu--container {
		margin: 0 100px;
	}
	.contacts-email-wrap {
		float: none;
		width: 50%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 50px;
	}
}

/* Medium Devices, Desktops */
@media screen and (max-width : 992px) {
	.carousel-point {
    	bottom: 200px;
  	}
  	.carousel-caption--info {
		bottom: 50px;
	}
  	.carousel-caption-title {
		font-size: 36px;

	}
	.carousel-caption--info p {
		font-size: 30px;

	}
	.top-navigation--logo {
		margin-top: -14px;
	}
	.top-navigation--menu {
		font-size: 16px;
	}
	.top-navigation {
  		margin: 20px 30px;
	}
	.top-navigation--menu a {
		padding: 20px 10px;
	}
	.top-navigation--menu-social a {
		padding: 4px;
	}
	.carousel-caption--btn {
		font-size: 16px;
		padding: 10px;
		margin-left: 20px;
	}
	.container {
		margin: 70px 80px 80px 80px;
	}
	.deals--best-deals {
		font-size: 30px;
		line-height: 40px;
	}
	.properties--home-line {
		width: 12%;
	}
	.properties--home-bottom {
		width: 70%;
	}
	.properties--sale-post {
		width: 46.7%;
	}
	.workman {
		margin: 70px 80px 0 80px;
	}
	.carousel-caption-workman {
		width: 50%;
	}
	.item-workman {
		width: 50%;
	}
	.item-workman img {
		width: 93%;
		height: auto;
	}
	.carousel-indicators-workman {
		left: 92%;
	}
	.carousel-caption-workman-title {
		font-size: 36px;
	}
	.carousel-caption-workman-name {
		font-size: 20px;
	}
	.carousel-caption-workman hr {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.carousel-caption-workman p {
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 18px;
		font-size: 14px;
	}
	.carousel-caption-workman li {
		display: block;
	}
	.carousel-caption-workman li:last-child {
		margin-left: 0;
		margin-top: 15px;
	}
	.buying {
		margin: 0 80px;
	}
	.carousel-caption-bottom--title {
		font-size: 40px;
	}
	.carousel-caption-bottom--line {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.carousel-caption-bottom--text {
		font-size: 22px;
		line-height: 27px;
	}
	.carousel-caption-bottom--cite {
		font-size: 20px;
		margin-top: 30px;
	}
	.partners {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
	.partners--logo {
		float: left;
		width: 21%;
		margin: 2%;
	}
	.techstart-logo {
		margin-top: -2px;
	}
	.swan-logo {
		margin-top: -27px;
	}
	.audiopro-logo {
		margin-top: 6px;
	}
	.strongwave-logo {
		margin-top: 8px;
	}
	.bottom-menu--container {
		margin: 0 80px;
	}
	.bottom-menu--logo {
		width: 25%;
	}
	.bottom-menu--navigation {
		width: 75%;
		float: right;
		text-align: center;
		margin-bottom: 50px;
	}
	.bottom-menu--clients {
		width: 75%;
		float: right;
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
	}
	.bottom-menu--contacts {
		width: 75%;
		float: right;
		text-align: center;
		margin-top: 0;
	}
	.bottom-menu--navigation-title {
		margin-bottom: 20px;
	}
	.bottom-menu--navigation-link li {
		margin-bottom: 10px;
	}
	.bottom-menu--contacts p {
		margin-bottom: 10px;
	}
	.team--post {
		width: 46%;
		margin: 1.5%;
	}
}

/* Small Devices, Tablets */
@media screen and (max-width : 768px) {
	.carousel-point {
    	bottom: 150px;
  	}
  	.carousel-caption--info {
		bottom: 40px;
	}
  	.carousel-caption-title {
		font-size: 30px;

	}
	.carousel-caption--info p {
		font-size: 20px;
		margin-right: 0;
	}
	.top-navigation {
		display: none;
	}
	.top-navigation--logo {
		margin-top: 13px;
		margin-left: 60px;
	}
	.carousel-caption--btn {
		font-size: 14px;
		padding: 8px;
		margin-left: 15px;
		position: relative;
	}
	.container {
		margin: 60px 60px 20px 60px;
	}
	.deals--best-deals {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 60%;
	}
	.deals--description {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		font-size: 14px;
	}
	.deals--best-deals-line {
		margin: 40px auto;
		width: 25%;
		height: 1px;
	}
	.description {
		margin-top: 0;
	}
	.description--description-wrap {
		float: left;
		width: 45%;
		text-align: center;
		margin: 0 2.5%;
	}
	.description--icon {
		margin-top: 60px;
	}
	.properties--home-top {
		margin-top: 60px;
	}
	.properties--home-line {
		width: 14%;
	}
	.properties--home-bottom {
		width: 80%;
	}
	.properties--sale-post {
		width: 95%;
		margin: 2.5%;
	}
	.item-workman img {
		width: 80%;
		height: auto;
	}
	.workman {
		margin: 60px 60px 30px 60px;
	}
	.carousel-caption-workman {
		width: 70%;
	}
	.item-workman {
		width: 30%;
	}
	.item-workman img {
		width: 80%;
		height: auto;
	}
	.carousel-caption-workman li {
		display: block;
	}
	.carousel-caption-workman li a {
		font-size: 14px;
	}
	.carousel-indicators-workman {
		left: 50%;
		top: -10%;
	}
	.buying {
		margin: 0 60px;
	}
	.carousel-indicators-bottom {
		bottom: 7%;
	}
	.carousel-caption-bottom {
		top: 13%;
	}
	.carousel-caption-bottom--title {
		font-size: 34px;
	}
	.carousel-caption-bottom--line {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.carousel-caption-bottom--text {
		font-size: 14px;
		line-height: 20px;
	}
	.carousel-caption-bottom--cite {
		font-size: 12px;
		margin-top: 15px;
	}
	.partners--logo {
		float: left;
		width: 46%;
		margin: 2%;
	}
	.techstart-logo {
		margin-top: -2px;
	}
	.swan-logo {
		margin-top: -27px;
	}
	.audiopro-logo {
		margin-top: 23px;
	}
	.strongwave-logo {
		margin-top: -40px;
	}
	.bottom-menu--container {
		margin: 0 60px;
	}
	.about--navigation-title {
		font-size: 2.2em;
	}
	.about--info-text p {
		margin-bottom: 15px;
		font-size: 0.9em;
		line-height: 1.3em;
		text-align: center;
	}
	.about--description-content {
		margin-bottom: 40px;
	}
	.team--title {
		font-size: 2.0em;
	}
	.team--title-link {
		line-height: 40px;
		font-size: 16px;
	}
	.contacts-email-wrap {
		width: 70%;
	}
}
/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
	.top-navigation--logo {
		margin-left: 40px;
	}
	.carousel-point {
   		bottom: 120px;
  	}
  	.carousel-caption--info {
		bottom: 30px;
	}
  	.carousel-caption-title {
		font-size: 22px;

	}
	.carousel-caption--info p {
		font-size: 14px;

	}
	.carousel-caption--btn {
		font-size: 12px;
		padding: 7px;
		margin-left: 10px;
		position: relative;
	}
	.deals--best-deals {
		width: 80%;
	}
	.container {
		margin: 50px 40px 20px 40px;
	}
	.description--description-wrap {
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.description--icon {
		margin-top: 60px;
	}
	.properties--home-top {
		margin-top: 50px;
	}
	.properties--home-line {
		width: 20%;
	}
	.properties--home-bottom {
		width: 90%;
	}
	.workman {
		margin: 50px 40px 30px 40px;
	}
	.carousel-caption-workman-title {
		font-size: 26px;
	}
	.carousel-indicators-workman {
		top: -8%;
	}
	.carousel-caption-workman p {
		font-size: 12px;
	}
	.carousel-caption-workman li a {
		font-size: 12px;
	}
	.buying {
		margin: 0 40px;
	}
	.buying {
		margin: 0 60px;
	}
	.carousel-indicators-bottom {
		bottom: 3%;
	}
	.carousel-caption-bottom {
		top: 4%;
	}
	.carousel-caption-bottom--title {
		font-size: 26px;
	}
	.carousel-caption-bottom--line {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.carousel-caption-bottom--text {
		font-size: 12px;
		line-height: 12px;
	}
	.carousel-caption-bottom--cite {
		font-size: 12px;
		margin-top: 10px;
	}
	.partners--logo {
		float: none;
		width: 100%;
	}
	.techstart-logo {
		margin-top: 30px;
	}
	.swan-logo {
		margin-top: 30px;
	}
	.audiopro-logo {
		margin-top: 30px;
	}
	.strongwave-logo {
		margin-top: 30px;
	}
	.bottom-menu--container {
		margin: 0 40px;
	}
	.bottom-menu--logo {
		width: 100%;
	}
	.bottom-menu--navigation {
		width: 100%;
		float: left;
		text-align: left;
		margin-top: 20px;
	}
	.bottom-menu--clients {
		width: 100%;
		float: left;
		text-align: left;
	}
	.bottom-menu--contacts {
		width: 100%;
		float: left;
		text-align: left;
	}
	.about--navigation-title {
		font-size: 1.8em;
		text-align: center;
	}
	.about--info-img {
		float: none;
		width: 100%;
	}
	.about--info-img img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.about--description-content {
		margin-bottom: 40px;
	}
	.team--title {
		float: none;
		text-align: center;
		width: 100%;
	}
	.team--title-link {
		text-align: center;
		width: 100%;
	}
	.team--post {
		width: 100%;
		margin: 0;
		float: none;
		margin-bottom: 30px;
	}
	.team--post:last-child {
		margin-bottom: 0;
	}
	.contacts-email-wrap {
		width: 90%;
	}
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {
	.top-navigation--logo {
		margin-left: 30px;
	}
	.carousel-point {
    	bottom: 100px;
  }
  	.carousel-caption-title {
		font-size: 18px;

	}
	.carousel-caption--info p {
		font-size: 12px;

	}
	.carousel-caption--btn {
		font-size: 10px;
		padding: 6px;
		margin-left: 10px;
		position: relative;
	}
	.container {
		margin: 50px 30px 60px 30px;
	}
	.workman {
		margin: 50px 30px 30px 30px;
	}
	.buying {
		margin: 0 30px;
	}
	.bottom-menu--container {
		margin: 0 30px;
	}
	
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
	.navbar-bootstrap-wrap {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
	.carousel-point {
    	bottom: 250px;
  	}
}

 /* Large Devices, Wide Screens */
@media screen and (min-width : 1200px) {

}