@import "bootstrap-grid.scss";
@import "media.scss";
@import "normalize.scss";

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('assets/fonts/playfairdisplay/playfairdisplay.woff2') format('woff2'), url('assets/fonts/playfairdisplay/playfairdisplay.woff') format('woff'), url('assets/fonts/playfairdisplay/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('assets/fonts/playfairdisplay/playfairdisplaybold.woff2') format('woff2'), url('assets/fonts/playfairdisplay/playfairdisplaybold.woff') format('woff'), url('assets/fonts/playfairdisplay/playfairdisplaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("assets/fonts/helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaLight";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/helvetica/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica/HelveticaLight/HelveticaLight.woff") format("woff"), url("assets/fonts/helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaBold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/helvetica/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica/HelveticaBold/HelveticaBold.woff") format("woff"), url("assets/fonts/helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/raleway/Raleway/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/raleway/Raleway/RalewayRegular.woff") format("woff"), url("assets/fonts/raleway/Raleway/RalewayRegular.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayBold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/raleway/RalewayBold/RalewayBold.woff") format("woff"), url("assets/fonts/raleway/RalewayBold/RalewayBold.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayLight";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/raleway/RalewayLight/RalewayLight.woff") format("woff"), url("assets/fonts/raleway/RalewayLight/RalewayLight.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayMedium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/raleway/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/raleway/RalewayMedium/RalewayMedium.woff") format("woff"), url("assets/fonts/raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
}
@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/icomoon.eot?ou8wxn');
  src:  url('assets/fonts/icomoon/icomoon.eot?ou8wxn#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon/icomoon.ttf?ou8wxn') format('truetype'),
    url('assets/fonts/icomoon/icomoon.woff?ou8wxn') format('woff'),
    url('assets/fonts/icomoon/icomoon.svg?ou8wxn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	color: #797979;
	position: relative;
}
* {
	box-sizing: border-box;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-images:before {
  content: "\e90e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-pinterest:before {
  content: "\ead1";
}
.top-navigation {
  margin: 35px 110px;
}
.top-navigation--logo {
	font-size: 1.6em;
	float: left;
	margin-top: -12px;
	display: block;
	position: relative;
	box-sizing: border-box;
	border: 3px solid #3c3c3c;
}
.top-navigation--logo a {
	padding: 0.25em;
	color: #3c3c3c;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 10;
	display: block;
	position: relative;
}
.top-navigation--logo a span {
	font-weight: 700;
}
.top-navigation--logo:before,
.top-navigation--logo:after {
	content: '';
	position: absolute;
	display: block;
	z-index: 0;
	background-color: #fff;
}
.top-navigation--logo:before {
	left: 10px;
	right: 10px;
	top: -3px;
	bottom: -3px;
}
.top-navigation--logo:after {
	left: -3px;
	right: -3px;
	top: 10px;
	bottom: 10px;
}
.top-navigation--menu {
	font-size: 18px;
}
.top-navigation--menu ul {
	padding-left: 0;
	text-align: center;
}
.top-navigation--menu li {
	display: inline-block;
}
.top-navigation--menu a {
	text-decoration: none;
	padding: 35px 25px;
	color: #3c3c3c;
	font-family: 'Playfair Display', sans-serif;
}
a.active {
	background-color: #f2f2f2;
}
.top-navigation--menu-social {
	float: right;
}
.top-navigation--menu-social li {
	margin-left: 5px;
}
.top-navigation--menu-social li:first-child {
	margin-left: 0;
}
.top-navigation--menu-social a {
	padding: 6px;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
}
.navbar--menu {
	font-size: 18px;
	text-align: center;
}
.navbar--menu a {
	text-decoration: none;
	color: #3c3c3c;
	font-family: 'Playfair Display', sans-serif;
}
.navbar--menu-social {
	border-top: 1px solid #f2f2f2;
	padding: 25px 0;
}
.navbar--menu-social ul {
	padding: 0;
}
.navbar--menu-social li {
	display: inline-block;
	margin-left: 15px;
}
.navbar--menu-social li:first-child {
	margin-left: 0;
}
.navbar--menu-social a {
	padding: 6px;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	text-decoration: none;
	color: #3c3c3c;
}
.carousel-caption--info {
	bottom: 80px;
}
.carousel-caption-title {
	font-size: 48px;
	font-weight: 700;
}
.carousel-caption--info p {
	font-size: 36px;
	font-family: "HelveticaLight", sans-serif;
	font-weight: 300;
	margin-right: 130px;
	margin-top: 15px;
}
.carousel-caption--btn {
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
	font-weight: 700;
	padding: 12px;
	text-transform: uppercase;
	background-color: rgba(124, 125, 124, 0.5);
	border: none;
	border-radius: 3px;
	position: absolute;
	margin-left: 30px;
	cursor: pointer;
}
.navbar-toggle:active {
	background-color: #fff;
}
.container {
	margin: 100px 130px;
}
.deals--best-deals {
	text-align: right;
	width: 35%;
	float: left;
	color: #3c3c3c;
	font-size: 37px;
	font-weight: 500;
	font-family: "RalewayMedium", sans-serif;
	line-height: 50px;
}
.deals--best-deals-line {
	width: 6%;
	background-color: #3c3c3c;
	height: 2px;
	border: none;
	margin-right: 0;

}
.deals--description {
	width: 60%;
	float: left;
	text-align: left;
	margin-left: 5%;
	font-family: "Playfair Display", sans-serif;
	line-height: 27px;
}
.description {
	margin-top: 60px;
}
.description--description-wrap {
	float: left;
	width: 20%;
	text-align: center;
	margin: 0 2.5%;
}
.description--icon {
	font-size: 20px;
	color: #3c3c3c;
}
.description--description-wrap-title {
	margin: 25px 0;
	font-size: 20px;
	color: #3c3c3c;
	font-family: "RalewayMedium", sans-serif;
	font-weight: 500;
}
.description--description-wrap p {
	font-size: 14px;
	font-family: "Playfair Display", sans-serif;
}
.properties {
	background-color: #f6f6f6;
}
.properties--home-top {
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	font-family: "RalewayLight", sans-serif;
	font-weight: 300;
	color: #3c3c3c;
}
.properties--home-top span {
	font-family: "RalewayMedium", sans-serif;
	font-weight: 500;
}
.properties--home-line {
	width: 10%;
	height: 2px;
	background-color: #e2574c;
	border: 1px solid #e2574c;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.properties--home-bottom {
	font-family: "Playfair Display", sans-serif;
	line-height: 27px;
	font-size: 16px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.properties--sale-post {
	float: left;
	width: 30%;
	text-align: center;
	margin: 1.5%;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	position: relative;
}
.properties--sale-content {
	margin-top: 35px;
	
}
.properties--sale-img {
	display: block;
}
.properties--sale-img img {
	width: 100%;
	height: auto;
}
.properties--sale-title {
	margin-bottom: 15px;
	font-family: "RalewayMedium", sans-serif;
	font-weight: 500;
	font-size: 22px;
}
.properties--sale-link {
	text-decoration: none;
	color: #3c3c3c;
}
.properties--sale-link:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.properties--sale-adress {
	font-size: 15px;
	font-family: "Playfair Display", sans-serif;
}
.properties--sale-price {
	font-family: "Helvetica", sans-serif;
	color: #e46157;
	margin-top: 25px;
	margin-bottom: 30px;
	font-size: 18px;
}
.properties--sale-content h5 {
	font-family: "HelveticaBold", sans-serif;
	font-size: 13px;
	margin-bottom: 15px;
	border-top: 1px solid #e6e6e6;
	padding-top: 15px;
}
.point {
	background-color: #c0c0c0;
	width: 6px;
	height: 6px;
	border: 1px solid #c0c0c0;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px 1px 4px;
}
.properties--btn {
	text-align: center;
}
.properties--btn button {
	margin: 50px auto;
	text-transform: uppercase;
	padding: 15px 25px;
	background-color: #e2574c;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
}
.properties--btn button:hover {
	border-top: 1px solid #e2574c;
}
.workman {
	margin: 100px 130px 0 130px;
}
.carousel-indicators-workman {
	left: 65%;
	margin-top: 2%;
}
.carousel-indicators-workman li {
	border: 1px solid #a1a1a1;
	margin-left: 5px;
}
.carousel-indicators-workman .active {
	background-color: #e2574c;
	border: 2px solid #e2574c;
	margin-left: 5px;
}
.carousel-caption-workman {
	float: left;
	width: 63%;
}
.carousel-caption-workman h2 {
	color: #3c3c3c;
	font-family: "RalewayLight", sans-serif;
	font-weight: 300;
	font-size: 45px;
}
.carousel-caption-workman h2 span {
	font-weight: 500;
	font-family: "RalewayMedium", sans-serif;
}
.carousel-caption-workman hr {
	margin-left: 0;
	width: 17%;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 2px;
	background-color: #e2574c;
	border: 1px solid #e2574c;
	border-radius: 4px;
}
.carousel-caption-workman h3 {
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	color: #3c3c3c;
	font-size: 25px;
}
.carousel-caption-workman p {
	font-family: "Playfair Display", sans-serif;
	line-height: 27px;
	margin-top: 35px;
	margin-bottom: 40px;
}
.carousel-caption-workman li {
	display: inline-block;
}
.carousel-caption-workman li:last-child {
	margin-left: 50px;
}
.carousel-phone {
	font-family: "Playfair Display", sans-serif;
	text-decoration: none;
	color: #797979;
	margin-left: 10px;
}
.carousel-mail {
	margin-left: 10px;
	font-family: "Playfair Display", sans-serif;
	color: #e2574c;
}
.item-workman {
	width: 37%;
	float: left;
}
.buying {
	margin: 0 130px;
}
.buying h1 {
	float: left;
	padding: 50px 0;
	font-size: 37px;
	font-weight: 300;
	font-family: "RalewayLight", sans-serif;
}
.buying h1 span {
	font-weight: 700;
	font-family: "RalewayBold", sans-serif;
}
.buying-btn {
	float: right;
	margin: 50px 0;
	background-color: #e2574c;
	border: 1px solid #e2574c;
	border-radius: 3px;
	padding: 15px 25px;
	cursor: pointer;
}
.buying-btn a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "RalewayBold", sans-serif;
}
.carousel-glyphicon {
	position: absolute;
	top: 50%;
	font-size: 2em;
}
.carousel-indicators-bottom {
	bottom: 10%;
}